.ul {
    display: flex;
    
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 50px;
    gap: 6rem;
}

.dicon {
    font-size: 3rem;
    text-decoration: none;
    color:black;
    overflow: hidden;
  position: relative;
  display: inline-block;
}

.dicon:hover {
    color: orangered;
}