.wrapper{
    background-color: rgba(0, 0, 0, 0.967);

}

.title{
    color: #e8c01e;
    display: flex;
    /* justify-content: center; */
    /* margin: 50px 50PX; */
    
    margin-left: 5rem;
    width: 100%;
    font-size: 50px;
}

.container{
    display: flex;
   
    height: 40rem;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
}

.box1{
    display: flex;
    width: 20%;
    height: 90%;
    justify-content: center;
    
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.901);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pic{
    object-fit: fill;
    margin-bottom: 2rem;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.profileTitle{
    color: #e8c01e;
    font-size: large;
    margin-left: 1rem;
}
.pTag{
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
    text-align: left;
}
.textContent{
    margin: 5%;
    
    display: flex;
    justify-content: center;
}