
.navWrapper{
    display: flex;
}
.ul{
    
    /* position: fixed; */
    top: 0 ;
    display: flex;
    list-style-type: none;
    /* margin-bottom: 10px; */
    padding: 0;
    /* overflow: hidden; */
    font-size: 20px;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* margin-right: 5rem; */
    background-color: #1e1d23;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 5px;
}

li a:hover{
    /* background-color: #e6a42adc; */
    box-shadow: inset 200px 0 0 0 #e6a42adc;
    color: white;     
}
.signIn{
    font-size: 1rem;
    margin-left: 20rem;
}

.img{
    border-radius: 50px;
    width: 70px;
    max-height: 80px;
    
    ;}